$black: #14181F;
$black-light: #272A31;
$black-dark: #0A0C10;

$white: #EBEEF2;
$white-light: #F8FBFF;
$white-dark: #DCE1E8;

$red: #E42B2F;
$red-light: #FA3C41;
$red-dark: #AB0E12;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;