
header{
    width: 100%;
    position: fixed;
    z-index: 800;
    padding-top: 16px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-menu{
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-list{
    margin-left: 32px;
    list-style: none;
    @include responsive(){
    display: none;
    }
    display: flex;
    li{
        margin-left: 24px;
    }
    .be{
        color: $red-light;
    }
}
.logo{
    @include responsive(){
        display: none;
    }
    &:hover{
        cursor: pointer;
        
    }
    img{
        &:hover{
        transition: 0.4s ease;
            path{
                fill: $gray-1;
            }
        }

    }
}

.nav-link{
    display: inline-block;

    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;

    position: relative;
    padding: 8px 16px;
    transition: 0.400s ease;

    color: $gray-3;

    &::after{
        content: "";
        display: block;
        position: absolute;

        left: 50%;
        top: -100%;       
        width: 2px;
        height: 0px;

        background: linear-gradient(0deg, #EA1D22 0%, rgba(234, 29, 34, 0) 100%);
        transition: 0.400s ease;
    }
    &:hover{
        color: $white-light;

        &::after{
            height: 40px;
        }
    }
}
.nav-social{
    display: flex;
    align-items: center;
    img{
        cursor: pointer;
        margin-left: 20px;
        width: 28px;
        overflow: visible;
            transition: 0.4s ease;

        &:hover{
                transform: translate3d(0,-3px,0);
        }
    }
    @include responsive(){
        display: none;
        }
}
.burger{
    display: none;
    background-color: $white;
    width: 50px;
    height: 50px;
    @include responsive(){
        //display: block;
        }
}

